# Arquivos gerados pelo Gradle e pelo sistema de build
build/
*/build/
captures/
.gradle/
local.properties

# Arquivos de IDE (Android Studio / IntelliJ)
.idea/
*.iml
*.ipr
*.iws

# Arquivos de Keystore para assinatura do App (MUITO IMPORTANTE)
*.keystore
*.jks
*.p12

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Logs de Crashlytics
com_crashlytics_export_strings.xml